<form class="form-horizontal">
  <div class="form-group">
    <label for="endDate" class="col-sm-2 control-label">Start Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="startDate">
    </div>
  </div>
  <div class="form-group">
    <label for="startTime" class="col-sm-2 control-label">Start Time</label>
    <div class="col-sm-10">
      <input type="time" name="time" class="form-control" id="startTime">
    </div>
  </div>
  <div class="form-group">
    <label for="endDate" class="col-sm-2 control-label">End Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="endDate">
    </div>
  </div>
  <div class="form-group">
    <label for="endTime" class="col-sm-2 control-label">End Time</label>
    <div class="col-sm-10">
      <input type="time" name="time" class="form-control" id="endTime">
    </div>
  </div>
  <div class="form-group">
    <label for="Description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="type" class="form-control" id="description">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="eventSubmit btn btn-default">Submit</button>
    </div>
  </div>
</form>
