<div class="row">
  <p class="info"> <b>Start Date:</b> {{start.dateTime}} </p>
  <p class="info"> <b>End Date:</b> {{end.dateTime}} </p>
  <p class="info"> <b>Event:</b> {{summary}} </p>
  <p class="info"> <b>Created By:</b> {{creator.displayName}} </p>
</div>
