<h1 class="text-center"> Do you want to update your Google Calendar but don't want to do it in Google Calendar? </h1>
<h1 class="text-center"> Then do it HERE! </h1>
<h1 class="text-center"> Just Click "Show Events" or "Add Events" After Signing In.</h1>

<button class="loginText btn btn-xlg center-block"> Click Here To Login To Your Google Calendar </button>
