<p> Welcome {{name}} </p>
<p> Email: {{email}} </p>
<a href="#" class="logout"> Click here to logout </a>
<img class=profilePic src={{picture}}>
<br>
<br>
<iframe src="https://www.google.com/calendar/embed?src={{email}}&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" seamless></iframe>
