<button href="#" class="logout btn pull-right"> Click here to logout </button>
<div class="row">
<img class="profilePic col-md-4" src={{picture}}>
<h1 class="welcomeMessage"> Welcome {{name}} </h1>
<h4> Email: {{email}} </h4>
</div>
<br>
<br>
<iframe src="https://www.google.com/calendar/embed?src={{email}}&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" seamless></iframe>
