/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
  font-family: 'Josefin Sans', Futura, Helvetica, sans-serif;
  background-color: #FCFDFF;
}

h1 {
  padding-top:1rem;
  font-size: 4.3rem;
  color: #D30006;
}

h4{
  color: #D30006;
  position: relative;
  left: 22rem;
}

.profilePic {
  max-height: 25rem;
  max-width: 25rem;
  padding-left:6rem;
  padding-top:1rem;
  padding-bottom:1rem;
}

.loginText{
  margin-top: 20rem;
}

.btn {
    border: 1px solid #D30006;
    line-height: normal;
    -webkit-border-radius: 8rem;
       -moz-border-radius: 8rem;
            border-radius: 8rem;
}
.btn-xlg {
    padding: 5rem 5rem 3rem 3rem;
    font-size: 5rem; //change this to your desired size
}

.row{
  border: 1px solid #D30006;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.eventRow{
  border: 0;
}

.welcomeMessage{
  position: relative;
  left: 18rem;
}

.logout{
  margin-top: 1rem;
}

iframe{
  float:right;
  border: 0;
  width: 85rem;
  height:70rem;
}

.eventButton{
  font-size: 2rem;
  margin-right:0.5rem;
  float: left;
}

.event, .submit{
  margin-top: 1rem;

}
