<!DOCTYPE html>
<html>
<head>
  <title>CalenderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="initialLogin"></div>

  <a href="#" style="display:none" id="logoutText" target='myIFrame' onclick="myIFrame.location='https://www.google.com/accounts/Logout'; startLogoutPolling();return false;"> Click here to logout </a>
  <iframe name='myIFrame' id="myIFrame" style='display:none'></iframe>
  <div id='uName'></div>
  <img src='' id='imgHolder'/>
<!--
<iframe src="https://www.google.com/calendar/embed?src=jjlee5266@gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" seamless></iframe>  -->


<%= yield %>

</body>
</html>
