<!DOCTYPE html>
<html>
<head>
  <title>CalenderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="container">
      <div class="initialLogin center"></div>
      <div class="main-modal "></div>
      <div class="date-select "></div>
  </div>

<%= yield %>

</body>
</html>
